body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Lucida Grande", "Helvetica", sans-serif;
}

/* HEADER */
.site-header {
  flex: 0;
  padding: 4px 0px;
  border-bottom: 2px solid #ccc;
  background-color: #eee;
}

.site-header > *:first-child {
  margin-left: 12px;
}

.site-header h1 {
  font-size: 24px;
}

/* CONTENT */
.content {
  padding: 4px 0;
  margin: 0 auto;
  max-width: 720px;
}

/* ROOM LIST */
.room-list {
  width: 100%;
  font-size: 18px;
}

.room-list th {
  text-align: left;
}

.room-list td {
  padding: 10px 0px;
}

.room-list td button {
  font-size: 18px;
}
